In [62]:
import pandas as pd

DATA_PATH = "./vgchartz-2024.csv"

def read_csv_data(data_path):
    """
    Lee un archivo csv y retorna un dataframe
    Args:
        data_path: str, ruta del archivo csv
    Returns:
        df: pd.DataFrame, dataframe con los datos del archivo csv
    """
    # Si la ruta del archivo está vacía, retorna None
    if data_path is None or len(data_path) == 0:
        print("La ruta del archivo está vacía")
        return None
    
    try:
        df = pd.read_csv(data_path)
        return df
    except FileNotFoundError:
        # Si el archivo no se encuentra, retorna None
        print(f"No se pudo encontrar el archivo en la ruta: {data_path}")
        return None
    except Exception as e:
        # Si ocurre un error, retorna None
        print(f"Error al leer el archivo: {e}")
        return None

def refactor_headers(df):
    """
    Refactoriza los headers del dataframe a minúsculas y sin espacios
    Args:
        df: pd.DataFrame, dataframe a refactorizar
    Returns:
        df: pd.DataFrame, dataframe con los headers refactorizados
    """
    if df is None or df.empty:
        # Si el dataframe está vacío o es None, retorna None
        print("El dataframe está vacío o es None")
        return None
    
    df.columns = df.columns.str.lower().str.replace(" ", "_")
    return df

def change_data_type(df, column_names: list[str], new_type):
    """
    Cambia el tipo de datos de las columnas del dataframe
    Args:
        df: pd.DataFrame, dataframe a cambiar el tipo de datos
        column_names: list[str], lista de nombres de columnas a cambiar el tipo de datos
        new_type: str, nuevo tipo de datos
    Returns:
        df: pd.DataFrame, dataframe con los tipos de datos cambiados
    """
    if df is None or df.empty:
        # Si el dataframe está vacío o es None, retorna None
        print("El dataframe está vacío o es None")
        return None
    
    if column_names is None or len(column_names) == 0:
        # Si la lista de columnas está vacía, retorna el dataframe
        print("La lista de columnas está vacía")
        return df
    
    if new_type is None or len(new_type) == 0:
        # Si el tipo de datos está vacío, retorna el dataframe
        print("El tipo de datos está vacío")
        return df
    
    for column in column_names:
        if column in df.columns:
            df[column] = df[column].astype(new_type)
        else:
            print(f"La columna '{column}' no existe en el dataframe")
    return df

In [63]:
print(f"Intentando leer archivo desde: {DATA_PATH}")
df = read_csv_data(DATA_PATH)

if df is None:
    print("No se pudo leer el archivo")
    exit()
df = refactor_headers(df)
if df is None:
    print("Error al limpiar los datos")
    exit()

Intentando leer archivo desde: ./vgchartz-2024.csv

In [41]:
# mostrar las primera 10 filas del dataframe
df.head(10)

,img,title,console,genre,publisher,developer,critic_score,total_sales,na_sales,jp_sales,pal_sales,other_sales,release_date,last_update
0,/games/boxart/full_6510540AmericaFrontccc.jpg,Grand Theft Auto V,PS3,Action,Rockstar Games,Rockstar North,9.4,20.32,6.37,0.99,9.85,3.12,2013-09-17,NaN
1,/games/boxart/full_5563178AmericaFrontccc.jpg,Grand Theft Auto V,PS4,Action,Rockstar Games,Rockstar North,9.7,19.39,6.06,0.60,9.71,3.02,2014-11-18,2018-01-03
2,/games/boxart/827563ccc.jpg,Grand Theft Auto: Vice City,PS2,Action,Rockstar Games,Rockstar North,9.6,16.15,8.41,0.47,5.49,1.78,2002-10-28,NaN
3,/games/boxart/full_9218923AmericaFrontccc.jpg,Grand Theft Auto V,X360,Action,Rockstar Games,Rockstar North,NaN,15.86,9.06,0.06,5.33,1.42,2013-09-17,NaN
4,/games/boxart/full_4990510AmericaFrontccc.jpg,Call of Duty: Black Ops 3,PS4,Shooter,Activision,Treyarch,8.1,15.09,6.18,0.41,6.05,2.44,2015-11-06,2018-01-14
5,/games/boxart/full_call-of-duty-modern-warfare...,Call of Duty: Modern Warfare 3,X360,Shooter,Activision,Infinity Ward,8.7,14.82,9.07,0.13,4.29,1.33,2011-11-08,NaN
6,/games/boxart/full_call-of-duty-black-ops_5Ame...,Call of Duty: Black Ops,X360,Shooter,Activision,Treyarch,8.8,14.74,9.76,0.11,3.73,1.14,2010-11-09,NaN
7,/games/boxart/full_4653215AmericaFrontccc.jpg,Red Dead Redemption 2,PS4,Action-Adventure,Rockstar Games,Rockstar Games,9.8,13.94,5.26,0.21,6.21,2.26,2018-10-26,2018-11-02
8,/games/boxart/full_1977964AmericaFrontccc.jpg,Call of Duty: Black Ops II,X360,Shooter,Activision,Treyarch,8.4,13.86,8.27,0.07,4.32,1.20,2012-11-13,2018-04-07
9,/games/boxart/full_4649679AmericaFrontccc.png,Call of Duty: Black Ops II,PS3,Shooter,Activision,Treyarch,8.0,13.80,4.99,0.65,5.88,2.28,2012-11-13,2018-04-07

In [ ]:
# Muestra las últimas 5 filas del dataframe
df.tail(5)

,title,console,genre,publisher,developer,critic_score,total_sales,na_sales,jp_sales,pal_sales,other_sales,release_date,last_update
64011,XBlaze Lost: Memories,PC,Visual Novel,Aksys Games,Arc System Works,7.22044,0.0,0.0,0.0,0.0,0.0,2016-08-11,2019-01-28
64012,"Yoru, Tomosu",PS4,Visual Novel,Nippon Ichi Software,Nippon Ichi Software,7.22044,0.0,0.0,0.0,0.0,0.0,2020-07-30,2020-05-09
64013,"Yoru, Tomosu",NS,Visual Novel,Nippon Ichi Software,Nippon Ichi Software,7.22044,0.0,0.0,0.0,0.0,0.0,2020-07-30,2020-05-09
64014,Yunohana SpRING! ~Mellow Times~,NS,Visual Novel,Idea Factory,Otomate,7.22044,0.0,0.0,0.0,0.0,0.0,2019-02-28,2019-02-24
64015,Yurukill: The Calumniation Games,PS4,Visual Novel,Unknown,G.rev Ltd.,7.22044,0.0,0.0,0.0,0.0,0.0,2019-02-28,2023-09-29

In [61]:
# muestra la información del dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 64000 entries, 0 to 64015
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   title          64000 non-null  object
 1   console        64000 non-null  object
 2   genre          64000 non-null  object
 3   publisher      64000 non-null  object
 4   developer      64000 non-null  object
 5   critic_score   64000 non-null  float64
 6   total_sales    64000 non-null  float64
 7   na_sales       64000 non-null  float64
 8   jp_sales       64000 non-null  float64
 9   pal_sales      64000 non-null  float64
 10  other_sales    64000 non-null  float64
 11  release_date   64000 non-null  int64
 12  last_update    64000 non-null  datetime64[ns]
 13  percent_na     17581 non-null  float64
 14  percent_jp     17571 non-null  float64
 15  percent_pal    17570 non-null  float64
 16  percent_other  17570 non-null  float64
dtypes: datetime64[ns](1), float64(10), int64(1), object(5)
memory usage: 8.8+ MB

In [64]:
# se cambia el tipo de datos de las columnas release_date y last_update a datetime64[ns] para el manejo de fechas
change_data_type(df, ['release_date', 'last_update'], 'datetime64[ns]')

,img,title,console,genre,publisher,developer,critic_score,total_sales,na_sales,jp_sales,pal_sales,other_sales,release_date,last_update
0,/games/boxart/full_6510540AmericaFrontccc.jpg,Grand Theft Auto V,PS3,Action,Rockstar Games,Rockstar North,9.4,20.32,6.37,0.99,9.85,3.12,2013-09-17,NaT
1,/games/boxart/full_5563178AmericaFrontccc.jpg,Grand Theft Auto V,PS4,Action,Rockstar Games,Rockstar North,9.7,19.39,6.06,0.60,9.71,3.02,2014-11-18,2018-01-03
2,/games/boxart/827563ccc.jpg,Grand Theft Auto: Vice City,PS2,Action,Rockstar Games,Rockstar North,9.6,16.15,8.41,0.47,5.49,1.78,2002-10-28,NaT
3,/games/boxart/full_9218923AmericaFrontccc.jpg,Grand Theft Auto V,X360,Action,Rockstar Games,Rockstar North,NaN,15.86,9.06,0.06,5.33,1.42,2013-09-17,NaT
4,/games/boxart/full_4990510AmericaFrontccc.jpg,Call of Duty: Black Ops 3,PS4,Shooter,Activision,Treyarch,8.1,15.09,6.18,0.41,6.05,2.44,2015-11-06,2018-01-14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64011,/games/boxart/full_2779838AmericaFrontccc.jpg,XBlaze Lost: Memories,PC,Visual Novel,Aksys Games,Arc System Works,NaN,NaN,NaN,NaN,NaN,NaN,2016-08-11,2019-01-28
64012,/games/boxart/full_8031506AmericaFrontccc.jpg,"Yoru, Tomosu",PS4,Visual Novel,Nippon Ichi Software,Nippon Ichi Software,NaN,NaN,NaN,NaN,NaN,NaN,2020-07-30,2020-05-09
64013,/games/boxart/full_6553045AmericaFrontccc.jpg,"Yoru, Tomosu",NS,Visual Novel,Nippon Ichi Software,Nippon Ichi Software,NaN,NaN,NaN,NaN,NaN,NaN,2020-07-30,2020-05-09
64014,/games/boxart/full_6012940JapanFrontccc.png,Yunohana SpRING! ~Mellow Times~,NS,Visual Novel,Idea Factory,Otomate,NaN,NaN,NaN,NaN,NaN,NaN,2019-02-28,2019-02-24
64015,/games/boxart/default.jpg,Yurukill: The Calumniation Games,PS4,Visual Novel,Unknown,G.rev Ltd.,NaN,NaN,NaN,NaN,NaN,NaN,NaT,2023-09-29

In [65]:
# Realiza una descripción estadística de los datos del dataframe
df.describe()

,critic_score,total_sales,na_sales,jp_sales,pal_sales,other_sales,release_date,last_update
count,6678.000000,18922.000000,12637.000000,6726.000000,12824.000000,15128.000000,56965,17879
mean,7.220440,0.349113,0.264740,0.102281,0.149472,0.043041,2006-11-14 06:33:03.491617792,2020-01-11 00:45:49.683986944
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1971-12-03 00:00:00,2017-11-28 00:00:00
25%,6.400000,0.030000,0.050000,0.020000,0.010000,0.000000,2001-03-28 00:00:00,2018-08-08 00:00:00
50%,7.500000,0.120000,0.120000,0.040000,0.040000,0.010000,2008-09-16 00:00:00,2019-04-21 00:00:00
75%,8.300000,0.340000,0.280000,0.120000,0.140000,0.030000,2012-12-27 00:00:00,2021-03-30 00:00:00
max,10.000000,20.320000,9.760000,2.130000,9.850000,3.120000,2024-12-31 00:00:00,2024-01-28 00:00:00
std,1.457066,0.807462,0.494787,0.168811,0.392653,0.126643,NaN,NaN

In [66]:
# eliminar las columnas que no son necesarias
df = df.drop(columns=['img'])

In [67]:
# obtener filas nulas
df.isnull().sum()

title               0
console             0
genre               0
publisher           0
developer          17
critic_score    57338
total_sales     45094
na_sales        51379
jp_sales        57290
pal_sales       51192
other_sales     48888
release_date     7051
last_update     46137
dtype: int64

In [68]:
# rellenar los valores nulos de las columnas con distintos métodos de llenado
df['developer'] = df['developer'].ffill() # rellenar con el valor anterior
df['na_sales'] = df['na_sales'].interpolate() # rellenar con el valor interpolado
df['jp_sales'] = df['jp_sales'].interpolate() # rellenar con el valor interpolado
df['pal_sales'] = df['pal_sales'].interpolate() # rellenar con el valor interpolado
df['other_sales'] = df['other_sales'].interpolate() # rellenar con el valor interpolado
df['total_sales'] = df['total_sales'].fillna(df['na_sales'] + df['jp_sales'] + df['pal_sales'] + df['other_sales']) # rellenar con el valor de la suma de las columnas *_sales

In [69]:
# rellenar los valores nulos de las columnas con distintos métodos de llenado
df['critic_score'] = df['critic_score'].fillna(df['critic_score'].mean()) # rellenar con el valor promedio
df['release_date'] = df['release_date'].fillna(df['release_date'].interpolate()) # rellenar con el valor interpolado
df['last_update'] = df['last_update'].fillna(df['last_update'].mean()) # rellenar con el valor promedio

df = df.drop_duplicates()

In [70]:
# obtener filas nulas
df.isnull().sum()

title           0
console         0
genre           0
publisher       0
developer       0
critic_score    0
total_sales     0
na_sales        0
jp_sales        0
pal_sales       0
other_sales     0
release_date    0
last_update     0
dtype: int64

In [71]:
df[df.duplicated()] # no hay duplicados

Empty DataFrame
Columns: [title, console, genre, publisher, developer, critic_score, total_sales, na_sales, jp_sales, pal_sales, other_sales, release_date, last_update]
Index: []

In [ ]:
# Transformación de datos
# Calcular porcentaje de ventas por pais segun total_sales
df['percent_na'] = df['na_sales'] / df['total_sales']
df['percent_jp'] = df['jp_sales'] / df['total_sales']
df['percent_pal'] = df['pal_sales'] / df['total_sales']
df['percent_other'] = df['other_sales'] / df['total_sales']

# 1. agrupar por genre y ordenar por percent_na
df_genre = df.groupby('genre').agg({'total_sales': 'sum'})
df_genre = df_genre.sort_values(by='total_sales', ascending=False)

df_genre

                  total_sales
genre
Sports                1187.51
Action                1125.89
Shooter                995.50
Misc                   557.79
Racing                 525.75
Role-Playing           426.80
Platform               349.15
Fighting               341.13
Adventure              325.39
Simulation             300.65
Action-Adventure       148.52
Puzzle                 127.28
Strategy               118.31
Music                   51.75
MMO                      9.31
Party                    6.21
Visual Novel             5.78
Sandbox                  1.89
Education                0.97
Board Game               0.33

In [74]:
# 2. agrupar por platform y ordenar por percent_na
df_platform = df.groupby('console').agg({'total_sales': 'sum'})
df_platform = df_platform.sort_values(by='total_sales', ascending=False)
df_platform

         total_sales
console
PS2          1027.76
X360          859.79
PS3           839.70
PS            546.25
PS4           539.92
...              ...
CDi             0.00
CD32            0.00
PS5             0.00
C64             0.00
iQue            0.00

[81 rows x 1 columns]

In [75]:
# los primeros 5 generos con mayor critic_score
df_critic_score = df.groupby('genre').agg({'critic_score': 'sum'})
df_critic_score = df_critic_score.sort_values(by='critic_score', ascending=False)
df_critic_score = df_critic_score.head(5)

df_critic_score

              critic_score
genre
Misc          67041.783333
Action        61361.751572
Adventure     45233.400314
Role-Playing  41511.614780
Sports        40367.714151

In [76]:
# los primeros 5 generos con menor critic_score
df_critic_score = df.groupby('genre').agg({'critic_score': 'sum'})
df_critic_score = df_critic_score.sort_values(by='critic_score', ascending=True)
df_critic_score = df_critic_score.head(5)

df_critic_score

            critic_score
genre
Sandbox       146.388365
Board Game    236.354088
Education     253.774528
MMO           836.525786
Party        1070.259434

In [79]:
# los generos publicados despues de 2010 con mayor critic_score
df['release_year'] = df['release_date'].dt.year
df_filtrado = df[df['release_year'] > 2010]
df_critic_score_over_2010 = df_filtrado.groupby('genre').agg({'critic_score': 'sum', 'title': 'count'}).sort_values(by='critic_score', ascending=False)
df_critic_score_over_2010

                  critic_score  title
genre
Misc              29956.798428   4151
Action            25652.573270   3559
Role-Playing      18410.080503   2542
Adventure         16870.574528   2332
Shooter           12414.649371   1713
Action-Adventure  11981.543711   1654
Platform           8872.327358   1225
Puzzle             7998.762264   1107
Sports             7810.272956   1079
Strategy           7394.561321   1022
Simulation         7334.227044   1019
Racing             6580.343396    906
Fighting           5301.092767    733
Visual Novel       3490.031761    483
Music              1911.764780    262
Party               800.244025    113
MMO                 757.244025    105
Board Game          185.811006     26
Education           152.688365     21
Sandbox             139.167925     19